<!DOCTYPE html>
<html ng-app="VinylWoofApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinyl Woof</title>
    <link href='http://fonts.googleapis.com/css?family=Spicy+Rice|Noto+Serif:400,700|Boogaloo|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar">
        <div class="container head-wrap col-lg-10">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="http://www.blufftonicon.com/sites/default/files/images/articles/2015/14533-concerning-dog-scat-well-use-another-descriptive-word-story.png" alt="Woofie" class="logo brand" />
                <a href="/#/" class="navbar-brand" id="brand">Vinyl Woof</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/#/Dashboard" class="nav-item">
                            <span class="nav-link">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/#/" class="nav-item">
                            <span class="nav-link">Shop</span>
                        </a>
                    </li>
                    <li>
                        <a href="/#/AddRecord" class="nav-item">
                            <span class="nav-link">Give</span>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content col-md-10 col-sm-12">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vinyl Woof</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
